@{
    ViewBag.Title = "Http404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="about">
    <div class="error-404 text-center">
        <h1>404</h1>
        <p>Pagina Não Encontada.....!</p>
        <h2>:(</h2>
        <a class="b-home" href="@Url.Action("Index", "Home", new { area = "", controller = "Home" })" title="Home">Voltar para a Home</a>
        
    </div>
</div>