{{contato}}
<div class="jumbotron">
    <table class="table">
        <tr>
            <td>{{contato.modelo}}</td>
        </tr>
        <tr>
            <td>{{contato.anoFabricacao}}</td>
        </tr>
        <tr>
            <td>{{contato.arquivo.nome}}</td>
        </tr>
        <tr>
            <td>{{contato.combustivel.nome}}</td>
        </tr>
        <tr>
            <td>{{contato.valor}}</td>
        </tr>
        <tr>
            <td>{{contato.marca.nome}}</td>
        </tr>
        <tr>
            <td>{{contato.descricao}}</td>
        </tr>
        <tr>
            <td><a href="#/contatos">voltar</a></td>
       </tr>

    </table>
</div>