<div class="header">
    <div class="col-xs-4">
        <div class="logo">
            <a href="#/"><img src="images/logo5.png" alt="" /></a>
            
        </div>
    </div>
    <div class="col-xs-8 header_right">
        <span class="menu"></span>
        <div class="top-menu">
            <ul class="nav navbar-nav">
                <li><a href="#/"><i class="fa fa-home"> </i> Home</a></li>
                <li><a href="#/sobre"><i class="fa fa-star"> </i> Sobre</a></li>
                <li><a href="#/veiculos"><i class="fa fa-car"></i>Veiculos</a></li>                
                <li><a href="#/contato"><i class="fa fa-envelope-o"> </i>Contato</a></li>
            </ul>
        </div>
    </div>
    <div class="clearfix"> </div>
</div>
