<div id="myModalFotos" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <!--itens que sao montados via ajax nas paginas de servicos pelo arquivo scripts dentro da pasta Scripts-->

                    <div class="item active">
                        <img class="img-responsive" src="~/images/i3.jpg" alt="...">
                        <div class="carousel-caption">
                            Nosso espaço para espera com todo o conforto para um melhor atendimento.
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="~/images/i4.jpg" alt="...">
                        <div class="carousel-caption">
                            Nosso espaço para espera com todo o conforto para um melhor atendimento.
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="~/images/i1.jpg" alt="...">
                        <div class="carousel-caption">
                            Nossos escritórios.
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-responsive" src="~/images/i2.jpg" alt="...">
                        <div class="carousel-caption">
                            Nossos escritórios.
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>

</div>
@*<a class="btn btn-primary" data-toggle="modal" data-target="#myModalFotos">
        Teste modal
    </a>*@
