@model LojaCarrosV2.PainelWeb.Areas.master.Models.EmpresaVM
@using LojaCarrosV2.Utilidade

@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Areas/master/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        @ViewBag.Title de Clientes
    </div>
    <div class="panel-body ">

        @Html.Partial("_FormEmpresa")

    </div>
</div>

@section scripts {


    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/scripts.js"></script>
    <script src="~/Scripts/jquery.maskedinput.js"></script>
    <script>
        $("#CEP").mask("99999-999");
        $("#Telefone2").mask("(99) 9999-9999");
        $("#Telefone1").mask("(99) 99999-9999");
        $("#CNPJ").mask("99.999.999/9999-99");
    </script>

    

}