@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="about_top">
    <div class="container">
        <div class="about">
            <div class="col-md-8">
                <h3 class="m_3">Enrique Automóveis</h3>
                <div class="section_group">
                    <div class="col_1_of_2 span_1_of_2">
                        <img src="~/images/sobre.png" class="img-responsive" alt="" />
                    </div>
                    <div class="col_1_of_2 span_1_of_2">
                        <h4>"Temos a melhor linha de crédito para financiar o seu veículo."</h4>
                        <p style="text-align:left">
                            A Enrique Automóveis é uma empresa que tem como missão não deixar falhas referentes a produtos que estão ofertados por meio de um envolvimento administrativo diário. A marca está voltada a uma continua constituição empresarial de forma a referenciar as pessoas na qual se destina o mercado e por conta disso, tem como objetivo continuar crescendo para um bom atendimento e aquisição de futuros clientes.
                            Fundada em setembro de 1989 por Enrique Lima, é composta por uma equipe enxuta, mas que é responsável pelo sucesso do empreendimento.
                        </p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="col-md-4 about_box">
                <h3 class="m_3"></h3>
                <h4 style="margin-top:3.8em">"Sua Melhor Opção na Região Serrana"</h4>
                <p style="text-align:left">
                    Com a Enrique automóveis o seu carro está mais perto do que você imagina.
                    Oferecemos condições para aquisição de veículos de todas as marcas e modelos, novos ou usados, e com uma contratação simples e ágil aliado a um atendimento diferenciado e taxas competitivas.
                </p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="about_grid1">
            <h3>Outras Vantagens</h3>
            <div class="col-md-4">
                <div class="list styled custom-list">
                    <ul>
                        <li>
                            <span class="dropcap">01 / </span>
                            <div class="about_desc">
                                <h5><a href="#">Vantagens de se comprar carros seminovos</a></h5>
                                <p>Se você está querendo trocar de automóvel ou comprar um veículo pela primeira vez, a opção de comprar um seminovo pode ser um ótimo investimento. Muitas pessoas acabam insistindo na ideia de que comprar um carro novo é sempre a melhor aquisição, o que não é verdade: o veículo é muito mais caro e tem forte desvalorização.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="list styled custom-list">
                    <ul>
                        <li>
                            <span class="dropcap">02 / </span>
                            <div class="about_desc">
                                <h5><a href="#">Tenha uma relação melhor com seu carro</a></h5>
                                <p>Com um seminovo, você vai pagar menos IPVA e não vai ficar tão preocupado com eventuais colisões no trânsito. É óbvio que qualquer batida tem um custo, mas se o carro fosse zero km, com certeza, o sinistro iria lhe causar bem mais desconforto.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="list styled custom-list">
                    <ul>
                        <li>
                            <span class="dropcap">03 / </span>
                            <div class="about_desc">
                                <h5><a href="#">Não tenha problemas com manutenção</a></h5>
                                <p>A manutenção dos carros começa a pesar no bolso geralmente a partir dos sete ou oito anos de uso, ou seja, com carros que não são considerados mais seminovos e sim os que realmente entram na categoria de “usados”. Neste caso, as peças se tornam mais caras, pois não são mais tão frequentes no mercado.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>

        @Html.Partial("_Rodape")        
    </div>
</div>