<div class="about_top">
    <div class="container">
        <div class="about">
            <h1 class="blog_head">Contato</h1>

            <div class="contact">
                
                <div class="col-md-12 contact_right">
                    <h3>Envie-nos uma mensagem.</h3>
                    <form>




                        <div class="text">
                            <div class="text-fild">
                                <input type="text" class="txtBox" placeholder="Nome" name="nome" />
                            </div>
                            <div class="text-fild">


                                <input type="text" class="txtBox" placeholder="Email" name="Email" />
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="msg-fild">


                            <input type="text" class="txtBox" placeholder="Assunto" name="Assunto" />
                        </div>
                        <div class="message-fild">

                            
                            <textarea class="txtBox" placeholder="mensagem" name="mensagem" />


                        </div>
                        <label class="btn1 btn-8 btn-8c"><input type="submit" value="Enviar"></label>
                    </form>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3688.1466522001633!2d-43.13613398543147!3d-22.423505426440883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x99abccc555924d%3A0x1601800f1b26f879!2sEstr.+Uni%C3%A3o+e+Ind%C3%BAstria%2C+6910%2C+Petr%C3%B3polis+-+RJ!5e0!3m2!1spt-BR!2sbr!4v1446573574145" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div ng-include="'views/shared/Rodape.html'"></div>
    </div>
</div>