<!--detalhe
{{veiculo}}-->


<div class="about_top">
    <div class="container">
        <div class=" standards about">


            <style>
                .carousel-inner > .item > img,
                .carousel-inner > .item > a > img {
                    width: 100%;
                    margin: auto;
                }
            </style>


            <div class="row">
                <div class="col-md-7">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <!--<ol class="carousel-indicators">

                            @{int i = 0;}

                            @foreach (var item in ViewBag.Arquivos)
                            {
                            <li data-target="#myCarousel" data-slide-to="@i"></li>
                            i = i + 1;
                            }
                        </ol>-->
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <!--@if (ViewBag.Arquivos.Count == 0)
                            {-->
                            <!--<div class="item active">
                                <img src="{{diretorio}}_semfoto.jpg">
                            </div>-->
                            <!--}
                            else
                            {
                            int pos = 0;
                            foreach (var item in ViewBag.Arquivos)
                            {
                            pos = pos + 1;
                            if (pos == 1)
                            {-->
                            <div class="item active">
                                <img ng-src="{{diretorio}}{{veiculo.veiculo.arquivo.nome}}" alt='@ViewBag.Title'>
                            </div>
                            <!-- }
                             else
                             {-->
                            <div class="item" ng-repeat="arquivo in veiculo.arquivos">
                                <img ng-src="{{diretorio}}{{arquivo.nome}}" alt='@ViewBag.Title'>
                            </div>
                            <!--}
                            }
                            }-->
                        </div>

                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>

                <div class="col-md-5 text-center">
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-car"></i>
                            <h3>Descricao</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p>{{veiculo.veiculo.descricao}}</p>
                        </div>

                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-danger" href="/contato">Envie sua proposta!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label><h2>{{veiculo.veiculo.marca.nome |uppercase }} {{veiculo.veiculo.modelo |uppercase}} {{veiculo.veiculo.anoFabricacao}}</h2></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 single_box1">
                <ul class="single_box">
                    <!--@if (@Model.Valor != 0)
                    {-->
                    <li><i class="fa fa-money"> </i> {{veiculo.veiculo.valor}}</li>
                    <!--}
                    else
                    {
                    <li><label class="label label-success">Valor a Negociar</label></li>
                    }-->

                    <li><i class="fa fa-check"> </i> {{veiculo.veiculo.anoFabricacao}}</li>
                    <li><i class="fa fa-check"> </i> {{veiculo.veiculo.anoModelo}}</li>
                    <li><i class="fa fa-check"></i> {{veiculo.veiculo.combustivel.nome}}</li>
                    <li><label class="label label-success">ID {{veiculo.veiculo.idVeiculo}}</label></li>
                    <li style="display:none">
                        <div id="fb-root"></div>
                        <script>

                            (function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0];
                                if (d.getElementById(id)) return;
                                js = d.createElement(s); js.id = id;
                                js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5&appId=1570988313168798";
                                fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));</script>
                        <div class="fb-share-button" data-href="{{diretorio}}{{veiculo.veiculo.modelo}}-{{veiculo.veiculo.idVeiculo}}" data-layout=" button"></div>

                    </li>
                </ul>

            </div>
        </div>
        <div class="clearfix"> </div>

        <div class="about_grid2">
            <h3>Outras ofertas</h3>


            <div ng-repeat="item in veiculo.populares">
                <a href="#/{{item.modelo | lowercase }}-{{item.idVeiculo}}">
                    <div class="col-md-3 about_box2">
                        <img class="img-responsive" ng-src="{{diretorio}}{{item.arquivo.nome}}" alt="...">

                        <h3 class="textoResponsivo">{{item.modelo}} </h3>
                        <!--@if (@item.Valor != 0)
                        {-->
                        <p>{{item.valor}}</p>
                        <!--}
                        else
                        { <p>Valor a Negociar</p>}-->

                        <p> {{item.combustivel.nome}}</p>
                    </div>
                </a>
            </div>

            <div class="clearfix"> </div>
        </div>

        <div ng-include="'views/shared/Rodape.html'"></div>
    </div>
</div>
