<div id="myModalExcluir" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    <span class="icon-stack">
                        <i class="fa fa-times"></i>
                    </span>
                    Confirmação<a class="anchorjs-link" href="#myModalLabel"><span class="anchorjs-icon"></span></a>
                </h4>
            </div>
            <div class="modal-body">
                <p style="text-align:center">Deseja realmete realizar a exclusão de? </p>
                <p style="text-align:center; color:red"><span id="nomeItem"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnConfirmar">Confirmar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>



@*<a class="btn btn-primary" data-toggle="modal" data-target="#myModalExcluir">
    Teste modal
</a>*@