<footer class="pull-right footer">
    <div class="col-md-12">
        <hr class="divider">
        &copy; @DateTime.Now.Year <strong>webconectus.com.br</strong> <br />
        <strong>Davi França Maciel</strong><br>
        <i class="fa fa-whatsapp"></i>&nbsp;&nbsp;(24) 99395-4479 ou (24) 98865-9858<br />
        <a href="#">davifrancamaciel@hotmail.com</a>
    </div>
</footer>

<script type="text/javascript">
    $(document).ready(function () {
       $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<a href="#" id="toTop"> </a>